{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 my-auto">
                <h4 class="text-black">
                    100% Natural Ingredients 
                </h4>
                <hr>
                <h4 class="text-black">
                    Over 10 years experience in formulation 
                </h4>
                <hr>
                <h4 class="text-black">
                    Products for all skin and hair types
                </h4>
            </div>
            <div class="col-md-6 my-auto">
                <i>Image goes here</i> 
            </div>
        </div>

        <div class="row h-100">
            <div class="col-12 text-center my-auto">
                <i>Image goes here</i> 
            </div>
        </div>

        <div class="row">
            <h2 class="col-12 text-center">Our Story</h2>
            <div class="col-md-6 my-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Officiis perferendis minima dicta provident inventore similique beatae, 
                    sint assumenda illum. Dolores consectetur reiciendis quod minima. 
                    Vitae id numquam autem. Enim, accusamus.
                </p>
            </div>
            <div class="col-md-6 my-1">
                <img class="" src="" alt="">
            </div>
        </div>

    </div>
{% endblock %}