{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 my-auto">
                <h4 class="text-black">
                    100% Natural Ingredients 
                </h4>
                <hr>
                <h4 class="text-black">
                    Over 10 years experience in formulation 
                </h4>
                <hr>
                <h4 class="text-black">
                    Products for all skin and hair types
                </h4>
            </div>
            <div class="col-md-6 my-auto">
                <i>Image goes here</i> 
            </div>
        </div>
    </div>
{% endblock %}