* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin-top: 30px;
    background-color: whitesmoke;
}
/* Header section */
header{
    height: 168px;
    background-color: rgb(63, 34, 11);
}

.tjon:hover {
    text-decoration: none;

}

.logo-font, h4, h3,
.text-brown {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    color: rgb(196, 162, 133) !important;
  }
  
.fa-search {
      color: rgb(196, 162, 133);
  }


.total-items {
    color: whitesmoke !important;
}

.nav-text,
.dropdown-menu > a {
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 800 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: rgb(196, 162, 133) !important;
}

#delivery-banner {
    background-color: peachpuff !important;
    height: 72px;
    align-items: center;
    letter-spacing: 0.2rem;
    font-weight: 900 !important;
    font-size: 80px;
}

/* --- */


/*-- Homepage --*/

#slogan, #home-rating {
    border: 2px solid rgb(196, 162, 133);
    background: peachpuff;
    border-radius: 50px;
    padding-bottom: 10px !important;
    display: inline-block;
    padding: 10px;
}

.homepage-text {
    color: rgb(196, 162, 133) !important;
}

.home-pic{
    border: 2px solid rgb(196, 162, 133) !important; 
}

.our-story{
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    color: rgb(196, 162, 133);
    font-weight: 500;
    font-size: large;
    font-style: italic; 
}

#story-pic {
    border: 2px solid rgb(196, 162, 133) !important; 
}

.bundle-offer{
    margin-bottom: 0;
}

.hero-image {
    position: relative;
    height: 350px;
    overflow: hidden;
    background: url('/media/body_hair.png') no-repeat center;
    background-size: cover;
    border: 2px solid rgb(196, 162, 133) !important;

}

.container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}


.container-text a {
    font-size: 23px;
    letter-spacing: 0.2rem;
}

/* -- */

/*-- Buttons */
.shop-now-btn,
.home-btn,
.back-to-login-btn {
    color:rgb(196, 162, 133);
    padding: 10px 24px;
    background: peachpuff;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s all;
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    color: rgb(196, 162, 133);
    font-weight: 800;
    border: 2px solid rgb(196, 162, 133);
}

.add-to-bag-btn {
    padding: 10px 24px;
    background: rgb(196, 162, 133);
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s all;
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    color: peachpuff;
    font-weight: 800;
    border: 2px solid peachpuff;
    transition: 0.3s all;
}
.shop-now-btn:hover, .add-to-bag-btn:hover {
    opacity: 0.8;
    text-decoration: none;
    color: white;
}

/* -- */

/*
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}
*/

/* -- Products Page -- */
.product-img {
    border: 2px solid rgb(196, 162, 133) !important;
}

.fa-minus,
.fa-plus,
.fa-lock {
    color: rgb(196, 162, 133);
}

/* -- */

/* -- Bag Page */

.update-link, 
.remove-item,
.update-link:hover, 
.remove-item:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(196, 162, 133) !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

/* -- */

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-- Footer Section --*/

footer {
    background-color: rgb(63, 34, 11);
    padding: 30px;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.social-links a {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 1rem;
    color:rgb(196, 162, 133);
}

/* -- */

/* -- Allauth Form Formatting --*/

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: rgb(196, 162, 133);
}

.allauth-form-inner-content input {
    border-color: rgb(196, 162, 133);
    border-radius: 50px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display:none;
}

.allauth-form-inner-content input::placeholder {
    color: rgb(196, 162, 133);
}

.allauth-form-inner-content button, 
.allauth-form-inner-content input[type='submit'] {
    padding: 10px 24px;
    background: rgb(196, 162, 133);
    border-radius: 50px;
    overflow: hidden;
    transition: 0.3s all;
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    color: peachpuff;
    font-weight: 800;
    border: 2px solid peachpuff;
    transition: 0.3s all;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
}

.allauth-form-inner-content a {
    color: rgb(63, 34, 11);
}
/* -- */


/* -- Extra CSS -- */

.border-brown {
    border: 1px solid rgb(196, 162, 133) !important;
}

input[name='q']::placeholder {
    color:rgb(196, 162, 133)
}

/* -- */

/* -- Media Queries -- */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px){
    .fixed-top-desktop-only{
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* -- */
  